# URL do API Gateway (output `ApiUrl` do SAM)
VITE_API_BASE_URL=https://jnmy1hsnba.execute-api.us-east-1.amazonaws.com/Prod

# Cognito (outputs `UserPoolId`, `UserPoolWebClientId`, `AwsRegion` do SAM)
VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_RNcR6fk2v
VITE_COGNITO_CLIENT_ID=5e44dvlvnvl2o1kcmg8m1jk3th
